## ðŸŸ© Print Job Titles (1.13.1)

In [1]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

for title in job_titles:
    print(title)

Data Scientist
Data Analyst
Machine Learning Engineer

---

## ðŸŸ© Total Job Postings (1.13.2)

In [17]:
job_postings = [5, 10, 15, 20, 25]
total = 0 

for job in job_postings:
    total += job  

print("Total Job Postings:", total)

Total Job Postings: 75

## ðŸŸ¨ Print Job Titles with Index (1.13.3)

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
index = 0

for job in range(index, len(job_titles)):
    print(index,job_titles[job])
    index=index+1

0 Data Scientist
1 Data Analyst
2 Machine Learning Engineer

---

## ðŸŸ¨ Find First Engineer (1.13.4)

In [ ]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']

---

## ðŸŸ¥ Print Job Titles Containing 'Data' (1.13.5)

In [ ]:
# Code Needed
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

---